/* top */
body.ype-elapsed-time
  ytd-video-primary-info-renderer
  > #container
  > #info
  > #info-text {
  max-height: initial;
  -webkit-line-clamp: 2;
}
/* body.ype-video-quality-fixing .html5-video-player > .ytp-settings-menu {
  display: none !important;
} */
.ytp-chrome-bottom .ytp-chrome-controls .ytp-left-controls .ype-backward-button,
.ytp-chrome-bottom .ytp-chrome-controls .ytp-left-controls .ype-forward-button {
  flex-shrink: 0;
}

/* iframe */
/* yt-live-chat-header-renderer > #primary-content {
  min-width: 0;
}
yt-live-chat-header-renderer
  > #primary-content
  > #view-selector
  > yt-sort-filter-sub-menu-renderer {
  width: 100%;
}
yt-live-chat-header-renderer
  > .ype-menu-button.ype-active-menu-button
  > button
  > yt-icon {
  color: #4387f1 !important;
}
yt-live-chat-header-renderer > .ype-menu-button > button > yt-icon > svg {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
} */
